
@font-face {
    font-family: 'Play';
    src: url('Play.eot');
    src: url('Play.eot?#iefix') format('embedded-opentype'),
    url('Play.woff2') format('woff2'),
    url('Play.woff') format('woff'),
    url('Play.ttf') format('truetype'),
    url('Play.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('Play-Bold.eot');
    src: url('Play-Bold.eot?#iefix') format('embedded-opentype'),
    url('Play-Bold.woff2') format('woff2'),
    url('Play-Bold.woff') format('woff'),
    url('Play-Bold.ttf') format('truetype'),
    url('Play-Bold.svg#playbold') format('svg');
    font-weight: bold;
    font-style: normal;
}